@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", "system-ui", "-apple-system", '"Segoe UI"', "Roboto",
    '"Helvetica Neue"', "Arial", '"Noto Sans"', '"Liberation Sans"',
    "sans-serif", '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"',
    '"Noto Color Emoji"';
  --font-raleway: "Raleway", "sans-serif";
  --font-poppins: "Poppins", "sans-serif";
}

/* Fonts */
:root {
  --default-font: "Roboto", "system-ui", "-apple-system", '"Segoe UI"', "Roboto",
    '"Helvetica Neue"', "Arial", '"Noto Sans"', '"Liberation Sans"',
    "sans-serif", '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"',
    '"Noto Color Emoji"';
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #272829; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #050d18; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #149ddd; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #a8a9b4; /* The default color of the main navmenu links */
  --nav-hover-color: #ffffff; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #040b14; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #040b14; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #a8a9b4; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #ffffff; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #f4fafd;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #040b14;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #151f2b;
  --contrast-color: #ffffff;
}

@layer base {

  header {
    @apply flex flex-col;
  }

  h2 {
    @apply text-[32px] font-bold mb-5 pb-5  relative font-raleway;
  }
  h3 {
    @apply text-[var(--heading-color)] text-[1.625rem] font-bold my-5 font-raleway;
  }

  h4{
    @apply text-lg font-[600] uppercase mb-2.5 font-raleway leading-[18px]; 
    color: color-mix(in srgb, var(--default-color), transparent 20%);
  }

  h5 {
    @apply text-base py-1.5 px-4 inline-block font-semibold mb-2.5 font-raleway
  }

 
}

@layer components {
  .header {
    color: var(--default-color);
    background-color: var(--background-color);
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 300px;
    overflow-y: auto;
    z-index: 997;
    padding: 0px 15px;
    transition: 0.3s ease-in-out;
    border-right: 1px solid
      color-mix(in srgb, var(--default-color), transparent 90%);
  }

  .nav-bar-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
  }

  .nav-bar-toggle {
    @apply flex items-center justify-center w-10 h-10 rounded-full bg-[#149ddd] text-white not-italic text-2xl;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .nav-bar-toggle:hover {
    background-color: color-mix(in srgb, var(--accent-color) 90%, white 15%);
  }

  .profile-avatar {
    @apply w-30 h-30 rounded-full m-[15px];
    border: 8px solid color-mix(in srgb, white, transparent 85%);
  }

  .social-links a {
    @apply text-base inline-flex items-center justify-center text-white mx-0.5 rounded-full w-10 h-10 hover:bg-cyan-500;
    background: color-mix(in srgb, var(--default-color), transparent 90%);
    transition: 0.3s;
  }

  .navmenu a {
    color: var(--nav-color);
    padding: 15px 10px;
    font-family: var(--font-poppins);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: 0.3s;
    width: 100%;
  }
  .hero::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
    background: color-mix(in srgb, var(--background-color), transparent 60%);
  }
  .emphasis-title::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--accent-color);
    left: 0;
    bottom: 0;
  }

  .container  {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    @apply w-full ;
  }

  .resume-item{
    @apply pb-5 pl-5 -mt-0.5 relative  border-l-2 border-l-[var(--accent-color)]
  }
  .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: var(--background-color);
    border: 2px solid var(--accent-color);
  }

}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.typed-cursor {
  animation: blink 0.8s step-start infinite;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }
}

.animate-fade-out {
  animation: fade-out 0.3s ease-out forwards;
}